<header id="header" class="card">
  <span class="logo">Bright</span>
  <span class="motto">技术 & 梦想 |&nbsp;学习 & 总结</span>
  <nav>
    <ul>
    <% for(var name in theme.menu) { %>
      <li>
        <a href="<%- url_for(theme.menu[name]) %>"><%= name %> </a>
      </li>
    <% } %>
      <li>
        <div class="search-input">
          <i class="fa search"></i>
          <input id="search-input" type="text"/>
        </div>
      </li>
    </ul>
  </nav>
</header>