@import "../variable";
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  ul > li {
    float: left;
    width: 100px;
    text-align: left;
    white-space: nowrap;
    a {
      display: inline-block;
      height: 100%;
      white-space: nowrap;
      line-height: 40px;
      text-decoration: none;
      color: $font-color;
      position: relative;
      transition: all $transition-time ease-in-out;
      &::after {
        content: "";
        position: absolute;
        bottom:0;
        left: 50%;
        right: 50%;
        height: 2px;
        background-color: $color-lightblue;
        transition: all $transition-time ease-in-out;
      }
      &:hover::after {
        left: 0;
        right: 0;
        max-width: 100px;
      }
      &.active:hover {
        color: $font-color-hover-nav;
        border-bottom: none;
      }
      &.active {
        width: auto;
        max-width: 50px;
        border-bottom: 2px solid $color-lightblue;
      }
    }
    i {
      font-style: normal;
      &:hover {
        color: $font-color-hover-nav;
      }
    }
    &:last-child {
      min-width: 100px;
      width: auto;
      height: 40px;
    }
  }
  
  .logo {
    background-color: $color-blue-gray;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 30px;
  }
  .motto {
    display: inline-block;
    margin-left: 10px;
    color: $color-blue-gray;
    font-style: italic;
  }
}
