@import "../variable";
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  ul > li {
    float: left;
    width: 100px;
    text-align: left;
    white-space: nowrap;
    transition: width $transition-time ease-in-out;
    a {
      display: inline-block;
      height: 100%;
      max-width: 1px;
      white-space: nowrap;
      line-height: 40px;
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ccc;
        transition: max-width $transition-time ease-in-out;
        max-width: 50px;
        border-bottom: 2px solid #77aaad;
      }
      &.active {
        width: auto;
        max-width: 50px;
        border-bottom: 2px solid #77aaad;
      }
    }
    i {
      font-style: normal;
      &:hover {
        color: #ccc;
      }
    }
    &:last-child {
      min-width: 100px;
      width: auto;
      height: 70px;
    }
  }
  
  .logo {
    background-color: #6e7783;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 30px;
  }
  .motto {
    display: inline-block;
    margin-left: 10px;
    color: #6e7783;
    font-style: italic;
  }
}
