@import "./variable";
h1,h2,h3,h4,h5,h6 {
  color: #222222;
  font-weight: 600;
}
h1 {
  margin: 1em 0;
}
h2 {
  margin: 0.75em 0;
}
h3 {
  margin: 0.5em 0;
}
h4 {
  margin: 0.25em 0;
}
p {
  font-size: 16px;
  text-indent: 2em;
  line-height: 1.5em;
  margin: 0.5em 0;
}
hr {
  margin-top: -1em;
  margin-bottom: 1em;
  border-color: $hr-color;
}
a {
  color: $font-color;
}
@import "./_partial/layout";
@import "./_partial/header";
@import "./_partial/article";
@import "./_partial/sidebar";

// 下面是常用组件的样式
@import "./_components/card.scss";
@import "./_components/font.scss";
@import "./_components/search-input.scss";
@import "./_components/post_entry.scss";
// * {
//   border: 1px solid black;
// }